.d_none{
    display: none;
}
html {
    scroll-behavior: smooth;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
}
body {
    margin: 0;
    background-color: #071820;
    flex-grow: 1;
    color: white;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
}
header {
    background-color: #0A222C;
    height: 80px;
    width: calc(100vw - 50px);
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
    border-radius: 25px;
}
footer {
    background-color: #0A222C;
    height: 80px;
    width: calc(100vw - 50px);
    bottom: 0;
    right: 0;
    margin: 15px;
    border-radius: 25px;
}

